<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="facebook-client-id" value="868170039935985" />
    <add key="facebook-client-secret" value="75d14111f14b37bae995ff1e0c4837a9" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>